TEST_MNEMONIC=other razor era scene permit morning lend scrub habit beyond mixed icon alcohol fuel news glory alien actual bachelor spell album fitness squeeze energy
RELAYER_MNEMONIC=gate rice similar lion hundred atom patrol kingdom sight good differ misery palm avoid equip galaxy hurt ring hunt various kit rug foster smooth

ATOMONE_RPC=http://localhost:36657
ATOMONE_REST=http://localhost:1317
ATOMONE_GRPC_HOST_PORT=19090
ATOMONE_CHAIN_ID=atomone-e2e-1

GNO_GNOKEY_REMOTE=localhost:26657
GNO_REST=http://localhost:8888
GNO_CHAIN_ID=dev
DEPLOY_GNOSWAP=1

RELAYER_ATOMONE_RPC_URL=http://atomone:26657
RELAYER_GNO_RPC_URL=http://gno:26657
INDEXER_QUERY_URL=http://tx-indexer:8546/graphql/query
