name: run-test

on:
  pull_request:
    branches:
      - main

jobs:
  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4

      - name: Generate test matrix
        id: set-matrix
        run: |
          chmod +x .github/scripts/generate_matrix.rb
          echo "matrix=$(ruby .github/scripts/generate_matrix.rb contract)" >> $GITHUB_OUTPUT

  test-gnoswap:
    needs: generate-matrix
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.generate-matrix.outputs.matrix)}}

    steps:
      - name: Check out gnoswap repo
        uses: actions/checkout@v4

      - name: Check out gno(master - before change std prefix)
        uses: actions/checkout@v4
        with:
          repository: gnolang/gno
          ref: 47d44988b47f9b7f05c34fe421f6166107487fe1 # before xform2
          path: ./gno

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Config gnovm
        run: |
          sed -i 's/ctx.Timestamp += (count \* 5)/ctx.Timestamp += (count \* 2)/g' ./gno/gnovm/tests/stdlibs/std/std.go

      - name: Install gno
        run: |
          cd gno
          make install.gno

      - name: Build and run Docker container
        run: |
          docker-compose build
          docker-compose up -d
          docker-compose exec -T app python3 setup.py -w /home/runner/work/gnoswap/gnoswap

      - name: "Run tests for ${{ matrix.name }}"
        run: |
          chmod +x .github/scripts/run_tests.rb
          ruby .github/scripts/run_tests.rb \
            -f "${{ matrix.folder }}" \
            -r "/home/runner/work/gnoswap/gnoswap/gno"

      - name: Cleanup Docker
        if: always()
        run: |
          docker-compose down