name: run-integration-test
permissions:
  contents: read

on:
  pull_request:

jobs:
  run-integration-test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out gnoswap repo
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker compose build

      - name: Run integration tests
        run: docker compose run --rm test --all
