name: run-test

on:
  pull_request:

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4

      - name: Install bundler
        run: gem install bundler

      - name: Install ruby gems
        run: bundle install

      - name: Generate test matrix
        id: set-matrix
        run: |
          chmod +x .github/scripts/generate_matrix.rb
          echo "matrix=$(ruby .github/scripts/generate_matrix.rb contract tests/scenario)" >> $GITHUB_OUTPUT

      - name: Check out gno
        uses: actions/checkout@v4
        with:
          repository: gnoswap-labs/gno
          ref: master
          path: ./gno

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Build gno
        run: |
          cd gno
          make build.gno

      - name: Upload gno artifacts
        uses: actions/upload-artifact@v4
        with:
          name: gno-build
          path: |
            gno/
          retention-days: 1

  test-gnoswap:
    needs: setup
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.setup.outputs.matrix)}}

    steps:
      - name: Check out gnoswap repo
        uses: actions/checkout@v4

      - name: Download gno artifacts
        uses: actions/download-artifact@v4
        with:
          name: gno-build
          path: ./gno

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"
          cache: true
          cache-dependency-path: gno/go.sum

      - name: Install gno from artifacts
        run: |
          cd gno
          go install ./gnovm/cmd/gno

      - name: Update fuzz test seed
        run: |
          chmod +x .github/scripts/update_fuzz_seed.sh
          .github/scripts/update_fuzz_seed.sh

      - name: "Run tests for ${{ matrix.name }}"
        run: |
          chmod +x .github/scripts/run_tests.rb
          ruby .github/scripts/run_tests.rb \
            -f "${{ matrix.folder }}" \
            -r "/home/runner/work/gnoswap/gnoswap/gno"
