name: tlin-check

on:
  pull_request:
    branches:
      - main

jobs:
  tlin-check:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: checkout tlin
        uses: actions/checkout@v4
        with:
          repository: gnoverse/tlin
          ref: main
          path: ./tlin

      - name: setup go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22

      - name: changed files
        id: changed_files
        uses: tj-actions/changed-files@v45
        with:
          files: |
            *.gno

      - name: install tlin
        run: |
          cd tlin
          go install ./cmd/tlin

      - name: tlin check
        run: |
          for file in ${{ steps.changed_files.outputs.all_changed_files }}; do
            echo "checking $file ..."
            tlin $file
          done
